*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /* position: relative; */
  /* font-weight: normal; */
}

body {
  min-height: 100vh;
  color: #fffaf7;
  background: black;
  transition: color 0.5s, background-color 0.5s;
  /* line-height: 1.6; */
  font-family: 'Manrope', sans-serif;
  /* font-size: 15px; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-small, .header-big {
  text-align: center;
  padding: 20px 0;
}
.header-small .header-logo {
  width: 200px;
}
.header-big .header-logo {
  width: 300px;
}

.button-wrapper {
  margin: 30px 0;
  text-align: center;
}

.white-button {
  display: inline-block;
  background-image: url("@/assets/img/bel-gumb.svg");
  padding: 20px 60px;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 36px;
  font-family: 'Bangers', cursive;
  color: black;
  text-decoration: none;
}

.yellow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("@/assets/img/rumen-gumb.svg");
  padding: 24px;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 24px;
  font-family: 'Bangers', cursive;
  color: black;
  text-decoration: none;
}

.back-button {
  display: inline-block;
  background-image: url("@/assets/img/nazaj.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.skip-button {
  display: inline-block;
  background-image: url("@/assets/img/preskoci.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.yes-button {
  display: inline-block;
  background-image: url("@/assets/img/da.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.no-button {
  display: inline-block;
  background-image: url("@/assets/img/ne.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.info-button {
  display: inline-block;
  background-image: url("@/assets/img/info.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.share-icon {
  display: inline-block;
  background-image: url("@/assets/img/share.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.search-icon {
  display: inline-block;
  background-image: url("@/assets/img/podrobno.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
}

.divider {
  background-image: url("@/assets/img/divider.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 20px;
}